<p>
  <strong>Product Name:</strong>
  <%= @product.name_product %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>