<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= render 'form', product: @product%>
<table>
  <thead>
    <tr>
      <th>Name product</th>
      <th>Price</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <%= render 'product', product: product %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<div id="product-content"></div>
